numpy>=2.0.0
ml-dtypes>=0.5.0
onnx>=1.19.0
onnxslim>=0.1.71
onnxruntime-gpu>=1.23.0
tensorrt-cu12>=10.0.0
torch>=2.8.0
torchvision>=0.23.0
ultralytics>=8.3.205
pillow>=11.3.0
opencv-python>=4.11.0.86
pyyaml>=6.0
albumentations>=2.0.0

